<div class="banner p-3 m-3">
  <h1>New Task</h1>
</div>
<div class="p-3 m-3">
  <%= render "form" %>
</div>
<div class="p-3 m-3">
  <%= link_to "Back to list", tasks_path(), class: 'text-decoration-none text-black' %>
</div>
